# .NET build files
**/bin/
**/obj/

# Node
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
!.env.example

# IDE
.vs/
.vscode/
.idea/

# macOS
.DS_Store

# Frontend build
**/dist/
**/build/
SkillConnect_Project/SkillConnect.Api/uploads/
